<!doctype html>
<html lang="en">
    <body class="account-pages">

        <!-- Begin page -->
        <div class="accountbg" style="background: url('assets/images/oyas3.jpg');background-size: cover;background-position: center;"></div>

        <div class="wrapper-page account-page-full">

            <div class="card">
                <div class="card-block">

                    <div class="account-box">

                        <div class="card-box p-5">
                            <h2 class="text-uppercase text-center pb-4">
                                <a href="index.html" class="text-success">
                                    <span><img src="assets/images/oyas1.jpg" alt="" height="150"></span>
                                </a>
                            </h2>
                            <div class="text-center m-b-20">
                                <p class="text-muted m-b-0">Entrez votre adresse e-mail et nous vous enverrons un e-mail avec des instructions pour réinitialiser votre mot de passe.  </p>
                            </div>

                            <form [formGroup]="formGroup">

                                <div class="form-group m-b-20 row">
                                    <div class="col-12">
                                        <label for="emailaddress">Adresse Email</label><span class="text-danger">*</span>
                                        <input class="form-control" type="email" id="emailaddress" formControlName="email" placeholder="Entrez votre email">
                                        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                                            <span class="text-danger">Saisissez votre adresse Gmail</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row text-center m-t-10">
                                    <div class="col-12">
                                        <button class="btn btn-block btn-custom waves-effect waves-light" type="submit">Réinitialiser le mot de passe</button>
                                    </div>
                                </div>

                            </form>

                            <div class="row m-t-50">
                                <div class="col-sm-12 text-center">
                                    <p class="text-muted">Retour à <a href="#" routerLink="/login" class="text-dark m-l-5"><b>S'identifier</b></a></p>
                                </div>
                            </div>
                            </div>
                            </div>
                </div>
            </div>
        </div>
        
        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/metisMenu.min.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>

        <!-- App js -->
        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>

    </body>
</html>